[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
redis = "*"
python-multipart = "*"
pydantic-settings = "*"
cryptography = "*"
authlib = "*"
httpx = "*"
itsdangerous = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"
fastapi-csrf-protect = "*"
slowapi = "*"
jwt = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["argon2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
